@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    h2 {
        @apply text-rose-500;
        @apply lg:text-4xl md:text-3xl text-2xl;
        @apply font-light;
    }

    h3 {
        @apply lg:text-3xl md:text-2xl text-xl;
        @apply font-light;
    }

    p {
        @apply lg:text-lg md:text-base text-sm;
    }
}

html,
body {
    padding: 0;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
}
